<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="slopterm" value="https://git.sand.town/api/packages/sand_head/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="slopterm">
      <package pattern="SlopTerm.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
